@font-face {
	font-family: lato;
	src: url(fonts/Lato-Regular.ttf)
}

@font-face {
	font-family: latobold;
	src: url(fonts/Lato-Bold.ttf)
}

html {
	font-size: 10px
}

body {
	font-family: lato!important;
	margin: 0!important;
	line-height: 1.34;
}

.red {
	background-color: #f11919;
	color: #fff
}

.font-21 {
	font-size: 2.1rem
}

.font-23 {
	font-size: 2.3rem
}

.font-25 {
	font-size: 2.5rem
}

.font-29 {
	font-size: 2.9rem
}

.font-30 {
	font-size: 3rem
}

.font-32 {
	font-size: 3.2rem
}

.font-40 {
	font-size: 4rem
}

.font-41 {
	font-size: 4.1rem
}

.font-46 {
	font-size: 4.6rem
}

.font-52 {
	font-size: 5.2rem
}

.font-81 {
	font-size: 8.1rem
}

.font-bold {
	font-family: latobold!important
}

#top-container-red {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	width: 100%!important
}

#title-and-pic {
	text-align: center;
	max-width: 52rem;
	width: 52em
}

#title {
	width: 100%;
	text-align: center;
	font-size: 10px;
	margin-top: 6em;
	margin-bottom: 2.5em
}

#zero {
	font-size: 4.1em
}

#top-pic-frame {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	max-width: 100%;
	display: inline-block;
	font-size: 10px
}

#top-pic-frame img {
	width: 100%
}

#top-pic-title {
	display: block;
	width: 60%;
	position: absolute;
	top: 16.5%;
	left: 20%;
	text-align: center;
	color: #e6cccd;
	font-size: 2.3em
}

#image-inner {
	position: absolute;
	width: 80%!important;
	top: 32%;
	left: 10%
}

#lets-bring-back {
	min-width: 701px;
	font-size: 10px;
	margin-right: 5em;
	margin-bottom: 7em!important;
	margin-top: 12rem
}

#lets-bring-back span {
	display: block
}

#lets-1 {
	font-size: 8.1em;
	margin-bottom: 4.5rem
}

#lets-2 {
	font-size: 4.6em;
	margin-bottom: 4.5rem
}

#lets-3 {
	font-size: 3em
}

#mobile-br {
	display: none
}

@media screen and (min-width:1091px) {
	#top-container-red {
		position: relative;
		left: 0;
		top: -12em
	}
	#lets-bring-back,
	#title-and-pic {
		position: relative;
		left: 0;
		top: 12em
	}
}

@media screen and (max-width:1200px) {
	#lets-bring-back,
	#title,
	#top-container-red,
	#top-pic-frame {
		font-size: 9px
	}
	#lets-bring-back {
		min-width: 631px
	}
}

@media screen and (max-width:1090px) {
	#lets-bring-back,
	#title-and-pic,
	#top-container-red {
		position: static;
		left: 0;
		top: 0
	}
	#top-container-red {
		flex-direction: column
	}
	#lets-bring-back,
	#title-and-pic {
		margin-left: 1.5em!important;
		margin-right: 1.5em!important
	}
	#top-pic-title {
		color: #fff
	}
	#lets-bring-back {
		text-align: center;
		margin: 0;
		min-width: 0
	}
	#lets-bring-back,
	#title,
	#top-container-red,
	#top-pic-frame {
		font-size: 10px
	}
	#mobile-br {
		display: inline
	}
}

@media screen and (max-width:730px) {
	#lets-bring-back,
	#title,
	#top-container-red,
	#top-pic-frame {
		font-size: 8px
	}
}

@media screen and (max-width:630px) {
	#lets-bring-back,
	#title,
	#top-container-red,
	#top-pic-frame {
		font-size: 6px
	}
	#lets-3 {
		font-size: 4em
	}
	#zero {
		font-size: 4.6em
	}
}

@media screen and (max-width:438px) {
	#lets-bring-back,
	#title,
	#top-container-red,
	#top-pic-frame {
		font-size: 5px
	}
}

@media screen and (max-width:365px) {
	#lets-1 {
		font-size: 7em
	}
	#lets-2 {
		font-size: 4em
	}
}

@media screen and (max-width:317px) {
	#lets-1 {
		font-size: 6em
	}
	#lets-2,
	#lets-3 {
		font-size: 3.5em
	}
}

#ebay-container {
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8em;
	margin-bottom: 13em
}

#ebay-image {
	width: 33em;
	max-width: 100%;
	margin-right: 8em
}

#ebay {
	font-size: 2.7em;
	font-family: latobold;
	max-width: 445px;
	margin-left: 4rem
}

@media screen and (max-width:1090px) {
	#ebay-container {
		flex-direction: column;
		margin-bottom: 8em
	}
	#ebay {
		margin-left: 2em;
		margin-right: 2em;
		text-align: center
	}
	#ebay-image {
		margin-bottom: 8em;
		margin-left: 2em;
		margin-right: 2em
	}
}

@media screen and (max-width:644px) {
	#ebay-container,
	#ebay-image {
		font-size: 9px
	}
}

@media screen and (max-width:579px) {
	#ebay-container,
	#ebay-image {
		font-size: 8px
	}
}

@media screen and (max-width:515px) {
	#ebay-container,
	#ebay-image {
		font-size: 7px
	}
}

@media screen and (max-width:450px) {
	#ebay-container,
	#ebay-image {
		font-size: 6px
	}
}

@media screen and (max-width:386px) {
	#ebay-container,
	#ebay-image {
		font-size: 5.5px
	}
}

#same-day {
	padding: 11rem 0;
	font-family: latobold;
	display: flex;
	flex-direction: column;
	align-items: center
}

#same-day-text {
	font-size: 10px;
	text-align: center;
	width: 84rem;
	max-width: 90%;
	margin: auto
}

#same-day-zero {
	margin-top: 11rem;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 90%;
	margin-left: auto;
	margin-right: 31rem
}

#same-day-zero-img {
	width: 33rem
}

#same-day-title {
	font-size: 4.6rem;
	display: block;
	width: 100%;
	margin-bottom: 4rem
}

#same-day-description {
	font-size: 2.9rem;
	width: 100%;
	display: block
}

#we-container {
	font-size: 10px;
	display: flex;
	padding-left: 80px
}

#we {
	margin-top: -1.1rem;
	font-size: 3.1rem;
	margin-left: 2.5rem;
	line-height: 1.36
}

#we-image {
	width: 4.4rem
}

#we span {
	margin-bottom: 1.98rem;
	display: block;
	width: auto
}

#we-last {
	margin-bottom: 11.7rem!important
}

@media screen and (max-width:1090px) {
	#same-day-zero {
		flex-direction: column;
		margin-right: auto
	}
	#same-day-text {
		margin: auto
	}
}

@media screen and (max-width:509px) {
	#same-day-title {
		font-size: 5rem
	}
	#same-day-description {
		font-size: 2.8rem
	}
}

@media screen and (max-width:491px) {
	#same-day-title {
		font-size: 4.5rem
	}
	#same-day-description {
		font-size: 2.5rem
	}
	#same-day-zero {
		zoom: .9;
		margin-right: auto
	}
}

@media screen and (max-width:441px) {
	#same-day-title {
		font-size: 4rem
	}
	#same-day-description {
		font-size: 2.23rem
	}
	#same-day-zero {
		zoom: .8;
		margin-right: auto
		
	}
}

@media screen and (max-width:393px) {
	#same-day-title {
		font-size: 3.5rem
	}
	#same-day-description {
		font-size: 1.95rem
	}
	#same-day-zero {
		zoom: .7;
		margin-right: auto
	}
}

@media screen and (max-width:344px) {
	#same-day-title {
		font-size: 3.2rem
	}
	#same-day-description {
		font-size: 1.8rem
	}
}

@media screen and (max-width:320px) {
	#same-day-zero {
		zoom: .6;
		margin-right: auto
		
	}
}

#badly {
	display: flex;
	justify-content: center;
	align-items: center
}

#badly-title {
	font-size: 3.9rem;
	display: block;
	width: 100%;
	margin-bottom: 4rem
}

#badly-body {
	font-size: 2.3rem
}

#badly-container {
	width: 78rem;
	max-width: 80%;
	text-align: center;
	font-family: latobold;
	margin-top: 11rem;
	margin-bottom: 11rem
}

#badly-1 {
	margin-bottom: 4rem
}

@media screen and (max-width:509px) {
	#badly-title {
		font-size: 3.95rem
	}
	#badly-body {
		font-size: 2.55rem
	}
}

@media screen and (max-width:491px) {
	#badly-title {
		font-size: 3.55rem
	}
	#badly-body {
		font-size: 2.3rem
	}
}

@media screen and (max-width:441px) {
	#badly-title {
		font-size: 3.15rem
	}
	#badly-body {
		font-size: 2.1rem
	}
}

@media screen and (max-width:393px) {
	#badly-title {
		font-size: 2.76rem
	}
	#badly-body {
		font-size: 1.75rem
	}
}

@media screen and (max-width:344px) {
	#badly-title {
		font-size: 2.52rem
	}
	#badly-body {
		font-size: 1.6rem
	}
}

.vinegar {
	font-family: latobold;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 28px
}

.vinegar .vinegar-text {
	width: 59rem;
	max-width: 80%;
	margin-bottom: 8rem;
	margin-top: 8rem
}

.vinegar .vinegar-title {
	font-size: 3.9rem;
	margin-bottom: 4rem;
	display: block
}

.vinegar .vinegar-1 {
	margin-bottom: 4rem
}

.vinegar .vinegar-text p {
	font-size: 2.3rem;
	padding-right: 65px;
	font-family: lato
}

.vinegar .vinegar-image {
	width: 30em;
	max-width: 80%!important;
	margin-left: 15rem;
	margin-right: 3rem	
}

#vinegar-mobile {
	display: none;
	flex-direction: column;
	text-align: center
}

#vinegar-mobile .vinegar-image {
	margin-left: 0;
	margin-right: 0
}

#vinegar-mobile .vinegar-title {
	display: block;
	max-width: 90%;
	margin-top: 8rem;
	margin-bottom: 8rem
}

@media screen and (max-width:1200px) {
	#vinegar .vinegar-image {
		margin-left: 15rem
	}
}

@media screen and (max-width:1090px) {
	#vinegar-mobile {
		display: flex
	}
	#vinegar {
		display: none
	}
	#vinegar-mobile .vinegar-text {
		margin-top: 4rem
	}
	#vinegar-mobile .vinegar-title {
		margin-bottom: 4rem
	}
	#vinegar-mobile .vinegar-text p {
		padding-right: 0px
	}	
}

@media screen and (max-width:509px) {
	#vinegar-mobile .vinegar-title {
		font-size: 3.95rem
	}
	#vinegar-mobile .vinegar-text p {
		font-size: 2.55rem;
		padding-right: 0px
	}
}

@media screen and (max-width:491px) {
	#vinegar-mobile .vinegar-title {
		font-size: 3.55rem
	}
	#vinegar-mobile .vinegar-text p {
		font-size: 2.3rem;
		padding-right: 0px
	}
}

@media screen and (max-width:441px) {
	#vinegar-mobile .vinegar-title {
		font-size: 3.15rem
	}
	#vinegar-mobile .vinegar-text p {
		font-size: 2.1rem;
		padding-right: 0px
	}
}

@media screen and (max-width:393px) {
	#vinegar-mobile .vinegar-title {
		font-size: 2.76rem
	}
	#vinegar-mobile .vinegar-text p {
		font-size: 1.75rem;
		padding-right: 0px
	}
}

@media screen and (max-width:344px) {
	#vinegar-mobile .vinegar-title {
		font-size: 2.52rem
	}
	#vinegar-mobile .vinegar-text p {
		font-size: 1.6rem;
		padding-right: 0px
	}
}

.oil {
	font-family: latobold;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 28px
}

.oil .oil-text {
	width: 62.5rem;
	max-width: 80%;
	margin-bottom: 8rem;
	margin-top: 8rem
}

.oil .oil-title {
	font-size: 3.9rem;
	margin-bottom: 4rem;
	display: block
}

.oil .oil-1 {
	margin-bottom: 4rem
}

.oil .oil-text p {
	font-size: 2.3rem;
	padding-right: 60px
}

.oil .oil-image {
	width: 40rem;
	max-width: 80%!important;
	margin-right: 10rem
}

#oil-mobile {
	display: none;
	flex-direction: column;
	text-align: center
}

#oil-mobile .oil-image {
	margin-right: 0
}

#oil-mobile .oil-title {
	display: block;
	max-width: 90%;
	margin-top: 8rem;
	margin-bottom: 8rem
}

@media screen and (max-width:1200px) {
	#oil .oil-image {
		margin-right: 5rem
	}
}

@media screen and (max-width:1090px) {
	#oil-mobile {
		display: flex
	}
	#oil {
		display: none
	}
	#oil-mobile .oil-text {
		margin-top: 2rem
	}
	#oil-mobile .oil-title {
		margin-bottom: 2rem
	}
	#oil-mobile .oil-text p {
		font-size: 2.55rem;
		padding-right: 0px
	}	
}

@media screen and (max-width:509px) {
	#oil-mobile .oil-title {
		font-size: 3.95rem
	}
	#oil-mobile .oil-text p {
		font-size: 2.55rem;
		padding-right: 0px
	}
}

@media screen and (max-width:491px) {
	#oil-mobile .oil-title {
		font-size: 3.55rem
	}
	#oil-mobile .oil-text p {
		font-size: 2.3rem;
		padding-right: 0px
	}
}

@media screen and (max-width:441px) {
	#oil-mobile .oil-title {
		font-size: 3.15rem
	}
	#oil-mobile .oil-text p {
		font-size: 2.1rem;
		padding-right: 0px
	}
}

@media screen and (max-width:393px) {
	#oil-mobile .oil-title {
		font-size: 2.5rem
	}
	#oil-mobile .oil-text p {
		font-size: 1.75rem;
		padding-right: 0px
	}
}

@media screen and (max-width:344px) {
	#oil-mobile .oil-title {
		font-size: 2.4rem
	}
	#oil-mobile .oil-text p {
		font-size: 1.6rem;
		padding-right: 0px
	}
}

#promise {
	display: flex;
	justify-content: center;
	align-items: center
}

#promise-title {
	font-size: 5.2rem;
	display: block;
	width: 100%;
	margin-bottom: 4rem
}

#promise-body {
	font-size: 2.9rem
}

#promise-container {
	width: 64rem;
	max-width: 80%;
	text-align: center;
	font-family: latobold;
	margin-top: 8rem;
	margin-bottom: 8rem
}

#promise-1 {
	margin-bottom: 4rem
}

@media screen and (max-width:509px) {
	#promise-title {
		font-size: 3.95rem
	}
	#promise-body {
		font-size: 2.55rem
	}
}

@media screen and (max-width:491px) {
	#promise-title {
		font-size: 3.55rem
	}
	#promise-body {
		font-size: 2.3rem
	}
}

@media screen and (max-width:441px) {
	#promise-title {
		font-size: 3.15rem
	}
	#promise-body {
		font-size: 2.1rem
	}
}

@media screen and (max-width:393px) {
	#promise-title {
		font-size: 2.76rem
	}
	#promise-body {
		font-size: 1.75rem
	}
}

@media screen and (max-width:344px) {
	#promise-title {
		font-size: 2.52rem
	}
	#promise-body {
		font-size: 1.6rem
	}
}

.delivery {
	font-family: latobold;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 130px;
	padding-left: 130px;
	padding-top: 25px
}

.delivery .delivery-text {
	width: 59.5rem;
	max-width: 80%;
	margin-bottom: 8rem;
	margin-top: 8rem
}

.delivery .delivery-title {
	font-size: 3.9rem;
	margin-bottom: 4rem;
	display: block
}

.delivery .delivery-1 {
	margin-bottom: 4rem
}

.delivery .delivery-text p {
	font-size: 2.2rem;
	padding-right: 50px
}

.delivery .delivery-image {
	width: 43.5em;
	max-width: 80%!important;
	margin-left: 10rem
}

.delivery .delivery-image-container {
	text-align: center
}

#delivery-mobile {
	display: none;
	flex-direction: column;
	text-align: center
}

#delivery-mobile .delivery-image {
	margin-left: 0
}

#delivery-mobile .delivery-title {
	display: block;
	max-width: 90%;
	margin-top: 8rem;
	margin-bottom: 8rem
}

@media screen and (max-width:1200px) {
	#delivery .delivery-image {
		margin-left: 2rem
	}
	#delivery .delivery-text {
		width: 59rem
	}
}

@media screen and (max-width:1090px) {
	#delivery-mobile {
		display: flex;
		padding-left: 0px;
		padding-right: 0px
	}
	#delivery {
		display: none;
	}
	#delivery-mobile .delivery-text {
		margin-top: 4rem
	}
	#delivery-mobile .delivery-title {
		margin-bottom: 4rem
	}
}

@media screen and (max-width:509px) {
	#delivery-mobile .delivery-title {
		font-size: 3.95rem
	}
	#delivery-mobile .delivery-text p {
		font-size: 2.55rem;
		padding-right: 0px
	}
	#delivery-mobile {
		padding-left: 0px;
		padding-right: 0px
	}	
}

@media screen and (max-width:491px) {
	#delivery-mobile .delivery-title {
		font-size: 3.55rem
	}
	#delivery-mobile .delivery-text p {
		font-size: 2.3rem;
		padding-right: 0px
	}	
	#delivery-mobile {
		padding-left: 0px;
		padding-right: 0px
	}		
}

@media screen and (max-width:441px) {
	#delivery-mobile .delivery-title {
		font-size: 3.15rem
	}
	#delivery-mobile .delivery-text p {
		font-size: 2.1rem;
		padding-right: 0px
	}
	#delivery-mobile {
		padding-left: 0px;
		padding-right: 0px
	}			
}

@media screen and (max-width:393px) {
	#delivery-mobile .delivery-title {
		font-size: 2.76rem
	}
	#delivery-mobile .delivery-text p {
		font-size: 1.75rem;
		padding-right: 0px
	}	
	#delivery-mobile {
		padding-left: 0px;
		padding-right: 0px
	}		
}

@media screen and (max-width:344px) {
	#delivery-mobile .delivery-title {
		font-size: 2.52rem
	}
	#delivery-mobile .delivery-text p {
		font-size: 1.6rem;
		padding-right: 0px
	}
	#delivery-mobile {
		padding-left: 0px;
		padding-right: 0px
	}		
}	

#plan {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px
}

#plan-title {
	font-size: 5.0rem;
	display: block;
	width: 100%;
	margin-bottom: 8rem;
	text-align: center
}

#plan-body {
	font-size: 2.6rem
}

#plan-container {
	width: 79rem;
	max-width: 80%;
	font-family: latobold;
	margin-top: 8rem;
	margin-bottom: 8rem
}

#plan-1,
#plan-2,
#plan-3 {
	margin-bottom: 6rem
}

@media screen and (max-width:509px) {
	#plan-title {
		font-size: 3.95rem
	}
	#plan-body {
		font-size: 2.55rem
	}
}

@media screen and (max-width:491px) {
	#plan-title {
		font-size: 3.55rem
	}
	#plan-body {
		font-size: 2.3rem
	}
}

@media screen and (max-width:441px) {
	#plan-title {
		font-size: 3.15rem
	}
	#plan-body {
		font-size: 2.1rem
	}
}

@media screen and (max-width:393px) {
	#plan-title {
		font-size: 2.76rem
	}
	#plan-body {
		font-size: 1.75rem
	}
}

@media screen and (max-width:344px) {
	#plan-title {
		font-size: 2.52rem
	}
	#plan-body {
		font-size: 1.6rem
	}
}

#signup {
	padding: 8rem 0;
	font-family: latobold;
	display: flex;
	flex-direction: column;
	align-items: center
}

#signup-text {
	font-size: 10px;
	text-align: center;
	width: 59rem;
	max-width: 90%;
	margin: auto
}

#signup-title {
	font-size: 5.2rem;
	display: block;
	width: 100%;
	margin-bottom: 4rem
}

#signup-description {
	font-size: 2.9rem;
	width: 100%;
	display: block
}

@media screen and (max-width:509px) {
	#signup-title {
		font-size: 3.95rem
	}
	#signup-description {
		font-size: 2.55rem
	}
}

@media screen and (max-width:491px) {
	#signup-title {
		font-size: 3.55rem
	}
	#signup-description {
		font-size: 2.3rem
	}
}

@media screen and (max-width:441px) {
	#signup-title {
		font-size: 3.15rem
	}
	#signup-description {
		font-size: 2.1rem
	}
}

@media screen and (max-width:393px) {
	#signup-title {
		font-size: 2.76rem
	}
	#signup-description {
		font-size: 1.75rem
	}
}

@media screen and (max-width:344px) {
	#signup-title {
		font-size: 2.52rem
	}
	#signup-description {
		font-size: 1.6rem
	}
}

#mc_embed_signup {
	max-width: 100%;
	display: inline-block
}

#mc-embedded-subscribe-form {
	width: 55rem;
	max-width: 100%;
	margin-top: 3rem
}

.mc-field-group {
	width: 90%;
	margin: 0 auto
}

.mc-field-group input,
.mc-field-group textarea {
	width: calc(100% - 2rem - 10px);
	border: .5rem solid #f11919;
	padding: 1rem;
	resize: none;
	border-radius: 5px;
	margin-bottom: 3rem;
	font-size: 2.1rem!important;
	font-family: latobold!important
}

.mc-field-group textarea {
	height: 20rem
}

.mc-field-group input:focus,
.mc-field-group textarea:focus {
	outline: 0!important
}

#mc-embedded-subscribe {
	background-color: #e11111;
	color: #fff;
	border: .5rem solid #f11919;
	border-radius: .5rem;
	padding: 1rem 3rem
}

#mc-embedded-subscribe:active,
#mc-embedded-subscribe:focus {
	outline: 0!important
}

#button-clear {
	text-align: center
}

#footer {
	font-size: 2rem;
	padding: 4rem
}










@media screen and (max-width:1090px) {
	#we-container {
		padding-left: 8px;
		padding-top: 50px;
	}
	
	#lets-1	{
		font-size: 7.1em;
	}
}

@media screen and (max-width:509px) {
	#we-container {
		padding-left: 8px;
		padding-top: 50px;		
	}

	
	#lets-1	{
		font-size: 7.1em;
	}	
}

@media screen and (max-width:491px) {
	#we-container {
		padding-left: 8px;
		padding-top: 50px;		
	}
	
	#lets-1	{
		font-size: 7.1em;
	}	
}

@media screen and (max-width:441px) {
	#we-container {
		padding-left: 8px;
		padding-top: 50px;		
	}
	
	#lets-1	{
		font-size: 7.1em;
	}	
}

@media screen and (max-width:393px) {
	#we-container {
		padding-left: 8px;
		padding-top: 50px;		
	}
	
	#lets-1	{
		font-size: 7.1em;
	}	
}

@media screen and (max-width:344px) {
	#we-container {
		padding-left: 8px;
		padding-top: 50px;		
	}
	
	#lets-1	{
		font-size: 7.1em;
	}	
}



